html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.banner {
  position: relative;
  max-width: 850px;
  left: 50%;
  transform: translateX(-50%);
}
.banner img.logo {
  width: 850px;
}

.walker {
  width: 500vw;
}

.slider {
  display: flex;
}

.slide {
  height: 300px;
  width: 300px;
  display: inline;
  float: left;
  text-align: center;
}
.slide img {
  height: 80%;
}
.slide p {
  position: relative;
  font-size: 25px;
  bottom: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #4f7d25;
}

.slider .slide:nth-child(2n+1) {
  background-color: #ddd;
}
.slider .slide:nth-child(2n) {
  background-color: #eee;
}

.footer {
  background-color: #eee;
  position: relative;
  height: 600px;
}
.footer img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.sticky {
  position: sticky;
}
